@import 'tailwindcss';

/* ===== Fonts ===== */

@font-face {
  font-family: 'Creato Display';
  src: url('./assets/fonts/CreatoDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('./assets/fonts/CreatoDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silk Serif';
  src: url('./assets/fonts/SilkSerif-TRIAL-Medium-BF6740066e47c38.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silk Serif';
  src: url('./assets/fonts/SilkSerif-TRIAL-Bold-BF6740066e7ab50.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-serif: 'Silk Serif', serif;
  --font-sans: 'Creato Display', sans-serif;


  --color-black: #000000;
  --color-white: #ffffff;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
}

@layer base {
  html {
    height: 100%;
  }

  body {
    @apply bg-white font-sans text-black antialiased;
    text-rendering: optimizeLegibility;
  }

  #root {
    min-height: 100dvh;
  }
}

.active {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}